body {
  background-color: #593837;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  background-color: #fff;
  border: 3px solid #942911;
  padding: 50px;
}

header {
  width: 100%;
  padding: 30px 50px;
  background-color: #94b9af;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.header--sub {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9d8420;
}

.header--sub h2 {
  font-size: 3rem;
  font-weight: 900;
}

.header--sub h3 {
  font-size: 2rem;
  font-weight: 500;
}

.filter {
  margin-bottom: 5px;
}
