body {
  background-color: #593837;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

header {
  width: 100%;
  padding: 30px 50px;
  background-color: #94b9af;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numberResult {
  font-size: 3rem;
  font-weight: 900;
}

.filters h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.filters__container {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9d8420;
}

.filter {
  margin-bottom: 5px;
}

.filter__input input {
}
