body {
  background-color: #593837;
}

.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.filter {
  width: 100%;
  padding: 50px;
  background-color: #94b9af;
}

.filter__input {
  font-size: 2rem;
}

.filter__input input {
  height: 30px;
  width: 30px;
}
