body {
  background-color: #1B9AAA;
}

.line {
  stroke: #fff;
  fill: none;
  stroke-width: 2px;
}

.dot {
  stroke: #fff;
  fill: #1B9AAA;
  stroke-width: 2px;
}


.axis path {
  stroke: #fff;
}

.tick {
  color: #fff;
}

.cross {
  stroke: #DDDBCB;
  stroke-dasharray: 3 6;
}