.card {
  background-color: #fff;
  border: 3px solid #942911;
  width: 30%;
  margin: 15px 0px 15px 0px;
  padding: 15px;
}

.card__name {
  color: #942911;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
}
.contacts {
  margin: 10px 0px;
}

.contact {
  display: flex;
  align-items: center;
}

.contact__icon {
  width: 20px;
  margin-right: 5px;
}
